<a href="https://colab.research.google.com/github/gago27/pandas/blob/master/q04_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
##
## Imprima los valores unicos e la columna _c4 de 
## de la tabla tbl1 en mayusculas
## 
import pandas as pd
import numpy as np
pd.set_option('display.notebook_repr_html', False)
tbl_1 = pd.read_csv('tbl1.tsv',
                   sep = '\t',
                   thousands = None,
                   decimal = '.')
tbl_1 = tbl_1.sort_values(by=['_c4'])
tbl_1['_c4'] = tbl_1['_c4'].map(lambda x: x.upper())

tbl_1._c4.unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)