<a href="https://colab.research.google.com/github/gago27/pandas/blob/master/q05_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
##
## Imprima la suma de la _c2 por cada letra de la _c1 
## de la tabla tbl0
## 
import pandas as pd
import numpy as np
pd.set_option('display.notebook_repr_html', False)
tbl_0 = pd.read_csv('tbl0.tsv',
                   sep = '\t',
                   thousands = None,
                   decimal = '.')
tbl_0.groupby('_c1').sum()['_c2']

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64