<a href="https://colab.research.google.com/github/gago27/pandas/blob/master/q10_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
##
## Construya una tabla que contenga _c0 y una lista
## separada por ',' de los valores de la columna _c4
## de la tabla tbl1.tsv
## 
import pandas as pd
import numpy as np
pd.set_option('display.notebook_repr_html', False)
tbl1 = pd.read_csv('tbl1.tsv',
                  sep = '\t',
                  thousands = None,
                  decimal = '.')
tbl_1 = tbl1.groupby('_c0')
tbl = tbl_1.groups.keys()

listas = []
for i in tbl:
  j = tbl1.loc[tbl_1.groups[i]]
  k = list(j['_c4'])
  listas = listas +[k]
lista = []
for j in listas:
  j = ','.join(j)
  lista = lista+[j]
lista

respuesta = pd.DataFrame({'_c0' : list(tbl),
                         'lista' : list(lista)})
respuesta

    _c0    lista
0     0    b,g,f
1     1    a,f,c
2     2  f,e,a,c
3     3      a,b
4     4  f,g,d,a
5     5      c,d
6     6    g,d,a
7     7      b,a
8     8  d,e,a,f
9     9  d,b,g,f
10   10  d,c,f,b
11   11  d,e,a,c
12   12  g,e,f,b
13   13      c,f
14   14      d,b
15   15      f,e
16   16    e,b,f
17   17      g,a
18   18  e,c,f,a
19   19      e,a
20   20      e,f
21   21    c,b,g
22   22    c,f,a
23   23    f,a,d
24   24      c,d
25   25    e,d,c
26   26    a,e,f
27   27    c,a,g
28   28      f,e
29   29  f,c,a,g
30   30      b,f
31   31      b,f
32   32      a,c
33   33    b,f,c
34   34    f,a,e
35   35      a,f
36   36      c,a
37   37  c,a,e,f
38   38      e,d
39   39    f,a,d

In [21]:
listas = []
for i in tbl:
  j = tbl1.loc[tbl_1.groups[i]]
  k = list(j['_c4'])
  listas = listas +[k]
lista = []
for j in listas:
  j = ','.join(j)
  lista = lista+[j]
lista

['b,g,f',
 'a,f,c',
 'f,e,a,c',
 'a,b',
 'f,g,d,a',
 'c,d',
 'g,d,a',
 'b,a',
 'd,e,a,f',
 'd,b,g,f',
 'd,c,f,b',
 'd,e,a,c',
 'g,e,f,b',
 'c,f',
 'd,b',
 'f,e',
 'e,b,f',
 'g,a',
 'e,c,f,a',
 'e,a',
 'e,f',
 'c,b,g',
 'c,f,a',
 'f,a,d',
 'c,d',
 'e,d,c',
 'a,e,f',
 'c,a,g',
 'f,e',
 'f,c,a,g',
 'b,f',
 'b,f',
 'a,c',
 'b,f,c',
 'f,a,e',
 'a,f',
 'c,a',
 'c,a,e,f',
 'e,d',
 'f,a,d']